google-api-python-client==2.187.0
google-auth-httplib2==0.2.1
google_auth_oauthlib==1.2.3
pyinstaller==6.17.0
winotify==1.1.0
pytest==9.0.1
pytest-qt==4.5.0
pytest-mock==3.15.1
pytest-cov==7.0.0
git+https://github.com/pikulo-kama/kama-ui.git
git+https://github.com/pikulo-kama/kama-dbm.git
git+https://github.com/pikulo-kama/kama-ui-db-plugin.git
