
#gameListOption {
    font: font("accent");
    background-color: transparent;
    text-align: left;
}

#gameListOption[selected="true"] {
    /* Add vertical line to indicate that game is selected. */
    background: qlineargradient(
        x1:0.02, y1:0, x2:1, y2:0,
        stop:0    color("success-a10"),
        stop:0.01 color("success-a10"),
        stop:0.01 transparent,
        stop:1    transparent
    );
}
