
QCustomWidget#detailsCard {
    background-color: color("surface-a10");
    border-radius: 5px;
    text-align: left;
}

QCustomLabel#detailsCardTitle {
    color: rgba("text-primary", 0.4);
    font: font("small");
    font-weight: bold;
}

QCustomLabel#detailsCardContent {
    font: font("card-title");
}

QCustomWidget#syncStatusBadge {
    background-color: transparent;
    border-radius: 5px;
}

QCustomWidget#syncStatusBadge QCustomWidget {
    background-color: transparent;
    border-radius: 5px;
}

QCustomWidget#syncStatusBadge[hidden="false"] {
    background-color: color("warning-a20");
}

QCustomWidget#syncStatusBadge[hidden="false"] QCustomWidget {
    background-color: color("warning-a0");
}
