
QCustomWidget#saveListRecord {
    background-color: rgba("surface-a10", 0.3);
    border: 1px solid color("surface-a20");
    border-radius: 5px;
}

QCustomWidget#saveListRecord[active="true"] {
    border-color: color("success-a10");
    background-color: color("surface-a0");
}

QCustomLabel#saveListRecordVersion {
    font: font("accent");
    font-weight: bold;
}

QCustomLabel#saveListRecordOwner {
    font: font("small");
    color: rgba('text-primary', 0.7);
}
