
QCustomTabBar#gameBar::tab {
    padding: 10px;
    background-color: transparent;
    font: font("accent");
    border-bottom: 2px solid color("surface-a0");
}

QCustomTabBar#gameBar::tab:!selected {
    color: color("text-primary");
}

QCustomTabBar#gameBar::tab:selected {
    color: color("primary-a0");
    border-bottom-color: color("primary-a0");
}
