
QCustomPushButton#logoutButton {
    color: color("danger-a10");
}

QCustomPushButton#logoutButton:hover {
    color: color("text-primary");
    border-color: transparent;
    background-color: color("danger-a10");
}
