
QWidget#sidebar,
QWidget#sidebarMenu {
    background-color: color("surface-a10");
}

QCustomWidget#sidebarMenu QCustomPushButton {
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
}

QCustomWidget#sidebarMenu QCustomPushButton:hover {
    background-color: rgba("text-primary", 0.2);
}

QCustomWidget#sidebarMenu QCustomPushButton[active="true"]:hover {
    background-color: rgba("primary-a20", 0.33);
}
