
KamaWidget#detailsCard {
    background-color: color("surface-a10");
    border-radius: 5px;
    text-align: left;
}

KamaLabel#detailsCardTitle {
    color: rgba("text-primary", 0.4);
    font: font("small");
    font-weight: bold;
}

KamaLabel#detailsCardContent {
    font: font("card-title");
}

KamaWidget#syncStatusBadge {
    background-color: transparent;
    border-radius: 5px;
}

KamaWidget#syncStatusBadge KamaWidget {
    background-color: transparent;
    border-radius: 5px;
}

KamaWidget#syncStatusBadge[hidden="false"] {
    background-color: color("warning-a20");
}

KamaWidget#syncStatusBadge[hidden="false"] KamaWidget {
    background-color: color("warning-a0");
}
