
QCustomPushButton {
    background-color: rgba("surface-a20", 0.3);
    border: 1px solid color("surface-a50");
    color: color("light-a0");
    outline: 1px solid transparent;
    border-radius: 5px;
    padding: 8px 16px;
    font: font("label");
}

QCustomPushButton:hover {
    background-color: color("surface-a30");
}
