
QCustomComboBox {
    background-color: rgba("surface-a20", 0.3);
    border: 1px solid color("surface-a30");
    color: color("light-a0");
    outline: 1px solid transparent;
    border-radius: 5px;
    font: font("secondary-xs");
    padding: 5px 10px;
}

QCustomComboBox QAbstractItemView {
    color: color("light-a0");
    border-radius: 5px;
}

QCustomComboBox::drop-down {
    right: 5px;
    border: none;
}

QCustomComboBox::down-arrow {
    image: image("chevron.svg");
}

QCustomComboBox QAbstractItemView::item {
    padding: 5px;
}
