
QCustomComboBox {
    background-color: rgba("surface-a10", 0.3);
    border: 1px solid color("surface-a40");
    color: color("text-primary");
    outline: 1px solid transparent;
    border-radius: 5px;
    font: font("secondary-xs");
    padding: 5px 10px;
}

QCustomComboBox:on {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

QCustomComboBox QListView {
    border: 1px solid color("surface-a40");
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

QCustomComboBox::drop-down {
    right: 5px;
    border: none;
}

QCustomComboBox::down-arrow {
    image: image("chevron.svg");
}

QCustomComboBox QListView::item {
    color: color("text-primary");
    background-color: color("surface-a10");
    padding: 5px;
}

QCustomComboBox QListView::item:hover {
    background-color: color("surface-a20");
}
