
QProgressPushButton[id="downloadButton"] {
    icon: image("download.svg");
    icon-size: 25px 25px;
}

QProgressPushButton[id="uploadButton"] {
    icon: image("upload.svg");
    icon-size: 25px 25px;
}
