
QCustomPushButton#logoutButton {
    color: color("danger-a20");
}

QCustomPushButton#logoutButton:hover {
    color: color("light-a0");
    border-color: transparent;
    background-color: color("danger-a20");
}
