
QProgressBar {
    outline: 1px dashed transparent;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-align: center;
    font: font("label");
    font-weight: bold;
}

QProgressBar::chunk {
    border-radius: 5px;
}

QProgressPushButton {
    outline: 1px dashed transparent;
    background-color: color("surface-a20");
    color: color("text-primary");
    border: 1px solid color("surface-a40");
    font: font("label");
}

/* Remove icon when progress bar is active. */
QProgressPushButton[in-progress="true"] {
    color: transparent;
    icon: none;
}

QProgressPushButton,
QProgressPushButton:pressed,
QProgressPushButton[is-disabled="true"]:hover,
QProgressBar:pressed {
    background-color: color("surface-a20");
    color: color("text-primary");
    border: 1px solid color("surface-a40");
}

QProgressBar {
    color: color("text-primary");
}

QProgressPushButton:hover,
QProgressBar::chunk,
QProgressBar::chunk:hover {
    background-color: color("surface-a30");
}


/* Style for primary button */
QProgressPushButton[kind="primary"],
QProgressPushButton[kind="primary"]:pressed,
QProgressPushButton[kind="primary"][is-disabled="true"]:hover,
QProgressBar[kind="QProgressPushButton-primary"]:pressed {
    background-color: color("primary-a30");
    color: color("text-inverted");
}

QProgressBar[kind="QProgressPushButton-primary"] {
    color: color("text-inverted");
}

QProgressPushButton[kind="primary"]:hover,
QProgressBar[kind="QProgressPushButton-primary"]::chunk,
QProgressBar[kind="QProgressPushButton-primary"]::chunk:hover {
    background-color: color("primary-a20");
    color: color("text-inverted");
}

