
QCustomWidget#saveStatusContainer {
    border-radius: 12px;
    border-left-width: 4px;
    border-left-style: solid;
}

QCustomWidget#saveStatusContainer QCustomLabel {
    color: color("dark-a0");
}

QCustomWidget#saveStatusContainer[id="warning"] {
    background-color: color("warning-a30");
    border-left-color: color("warning-a20");
}

QCustomWidget#saveStatusContainer[id="success"] {
    background-color: color("success-a30");
    border-left-color: color("success-a20");
}

QCustomLabel#saveStatusLabel {
    font: font("accent");
    font-weight: bold;
}
