
KamaWidget#sidebar,
KamaWidget#sidebarMenu {
    background-color: color("surface-a10");
}

KamaWidget#sidebarMenu KamaPushButton {
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
}

KamaWidget#sidebarMenu KamaPushButton:hover {
    background-color: rgba("text-primary", 0.2);
}

KamaWidget#sidebarMenu KamaPushButton[active="true"]:hover {
    background-color: rgba("primary-a20", 0.33);
}
